<article class="module width_full">
  <header><h3>Basic Styles</h3></header>
  <div class="module_content">
    <h1>StaticPages#help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
  </div>
</article><!-- end of styles article -->