<aside class="span3">
  <br/>
  <h3>业务操作</h3>
  <ul class="toggle">
    <li class="icn_new_article"><a href="#">预订/退订管理</a></li>
    <li class="icn_edit_article"><a href="#">客房信息管理</a></li>
    <li class="icn_categories"><a href="#">客人信息管理</a></li>
    <li class="icn_tags"><a href="#">住宿信息管理</a></li>
    <li class="icn_tags"><a href="#">消费信息管理</a></li>
    <li class="icn_tags"><a href="#">职工信息管理</a></li>
    <li class="icn_tags"><a href="#">系统用户管理</a></li>
  </ul>
  <h3>系统设置</h3>
  <ul class="toggle">
    <li class="icn_view_users"><a href="#">修改密码</a></li>
  </ul>
</aside><!-- end of sidebar -->