<% provide(:title, 'Sign up') %>
<article class="module width_full">
  <header><h3>新增系统用户</h3></header>
  <div class="module_content">

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= render 'fields', f: f %>
        <%= f.submit "新建用户", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</article><!-- end of styles article -->
<div class="spacer"></div>