<footer  class="footer">
  <small>
    <a href="#">本课程设计由范山恋、张坤、赵江艳共同完成</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="#">新闻</a></li>
    </ul>
  </nav>
</footer>